.container {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  header {
    padding: 0.8rem 1rem;
    background-color: var(--category-heading);
    h1 {
      font-size: 1.6rem;
    }
  }
  & > div {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .container {
    & > div {
      padding: 3rem 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    & > div {
      padding: 2rem 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
